.password-generator {
  display: grid;
  place-items: center;
  max-width: 24rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid $border;
  padding: 2rem;
  box-shadow: 0 1px 2px 0 $shadow;

  &__settings {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
  }
  &__result-wrapper {
    display: grid;
    place-items: center;
    gap: 2rem; 
  }
  &__footer {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
}
